<% include ../partials/header %>


<div class="container">
        <div class="thumbnail no-padd">
            <h1 class="text-center huge"><%=album["title"] %></h1>
            <div class = "row">
                <div class="col-md-6 col-sm-12 ">
                    <img class="img-responsive center"  src="<%=album["cover"] %>">
                </div>
                <div class="caption col-md-6 col-sm-12">
                    <h4 class="pull-left"><%=album.artist%></h4>
                    <h4 class="pull-left"><%=album.year%></h4>
                    <div class="pull-left"><%=album.description %></div>
                    <div id="buttons" class="center">
                        <a class="btn btn-warning" href="/albums/<%=album._id%>/edit">Edit album</a>
                        <form class="delete-form" action="/albums/<%=album._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-primary" href="/albums/">Go back</a>
                    </div>
                </div>
                <
                <div class="thumbnail no-padd">
                    <img class="img-responsive" src="<%=camp["image"] %>">
                    <div class="caption">
                        <% console.log(camp) %>
                        <h4 class="pull-right">$<%=camp.price%>/night</h4>
                        <h4><a><%=camp["name"] %></a></h4>
                        <em><h4>Submitted By <%= camp.author.username%></h4></em>
                        <p><%= camp["description"]%></p>
                        <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning" href="/campgrounds/<%=camp._id%>/edit">Edit camp</a>
                            <form class="delete-form" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                
                <div class="well">
                    <div>
                        <a class="btn btn-primary" href="/albums/<%=album._id%>/comments/new">Add new comment</a>
                    </div>
                    <div>
                        <% album["comments"].forEach(function(comment){ %>
                                <div><%= comment.content %></div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
<% include ../partials/footer %>