<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="display-4"><%=album["title"] %></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="<%=album["cover"] %>">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5><%=album["artist"]%></h5>
            <h5><%=album["year"]%></h5>
            <p><%=album.description %></p>
            <div>
                <a class="btn btn-primary" href="/albums/">Go back </a>
                <a class="btn btn-warning" href="/albums/<%=album._id%>/edit">Update</a>
                <form action="/albums/<%album._id%>?_method=DELETE" method="post" class="delete-form">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card full-width">
            <div class="card-header">
                Comments on <strong><%=album["title"]%></strong>
                <div class="ml-auto">
                    <a class="btn btn-primary mr-auto" href="<%=album._id%>/comments/new">Add new comment</a>
                </div>
            </div>
            <div class="card-body">
               <% album["comments"].forEach(function(comment){ %>
                                <div><%= comment.content %></div>
                                <div>Rating: <%= comment.rating %></div>    
                                <hr>
                        <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

